.Discription{
    background-color: black;
    color: white;
    border: 5px solid red;
    margin: 0px;
    padding: 0px;
}

.mb-3{
    width: 450px;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;
}

.AboutHeading{
    background-color: black;
    color: white;
}
.create{
    width: 440px;
    background-color: rgb(113, 113, 247);
    color: black;
    border-radius: 5px;
}

#DeleteButton{
    background-color: red;
    color: black;
    width: 100px;
}
#EditButton{
    background-color: blue;
    color: white;
    width: 100px;
}
